/* app/sites/tic-tac-toe/page.module.css */
.container {
  padding: 24px;
  max-width: 600px;
}

.link {
  display: inline-block;
  margin-top: 16px;
  color: blue;
  text-decoration: underline;
}

.hone {
    font-size: 2rem;
}